/* Variables */
:root {
  --navbar-height: 100px;
  --footer-height: 50px;

  --font-color-light-1: #e2e2e2ff; 
  --font-color-dark-1: #000f; 

  --background-color-1: #edf0f2ff;
  --background-color-2: #fefefeff;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

/* Nav */
.navBar {
  height: var(--navbar-height);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navBar a {
  padding: 10px 25px;
  font-size: 1.2rem;
}

/* Main */
.mainHome {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.imgHomeContainer {
  width: 25%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Img */
.imgHome {
  width: 100%;
  border-radius: 50%;
  border: 5px solid #5AA;
}

/* Txt */
.txtHomeContainer {
  height: 150px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Footer */
footer {
  height: var(--footer-height);
  background-color: var(--background-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
